<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployer"
             type="Deployer.Service.Core.Settings.Section.DeployerConfigurationSection, Deployer.Service.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <system.serviceModel>
    <services>
      <service name="Deployer.Service.Core.DeployService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="duplexConfig"
                  contract="Deployer.Service.Contract.IDeployService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/deployer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <serviceCertificate findValue="DeployerCA" storeLocation="LocalMachine" storeName="My"
                                x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Deployer.Service.Core.Security.UserNameValidator, Deployer.Service.Core" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexConfig" maxReceivedMessageSize="26214400" maxBufferPoolSize="26214400"
                 messageEncoding="Mtom">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400"
                        maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
          <reliableSession inactivityTimeout="00:02:00" />
          <security mode="Message">
            <message negotiateServiceCredential="true" clientCredentialType="UserName" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="10" address="*" />
    </connectionManagement>
  </system.net>

  <deployer>
    <settings>
      <credentials domain="Wurdum-PC" login="RemoteUser" password="Password" />
      <iis version="7" appPool="DefaultAppPool" address="Surveys">
        <dirsWithIISAccess>
          <dir name="Export" user="IIS_IUSRS" />
          <dir name="Exceptions" user="IIS_IUSRS" />
        </dirsWithIISAccess>
      </iis>
      <scriptsPaths
        dbCreate="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Scripts\CreateDb.sql"
        dbValidate="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Scripts\ValidateDb.sql"
        dbDelete="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Scripts\DeleteDb.sql" />
      <templates
        connectionStrings="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Scripts\ConnectionStrings.config" />
      <paths
        surveys="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Surveys"
        uploads="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Packages"
        backups="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Backup">
        <additionalResources bins="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Bins" />
      </paths>
    </settings>
    <updateRules>
      <modes>
        <mode id="1" name="Bin" updateDir="bin">
          <rules>
            <rule func="startsWith" value="bin" />
          </rules>
        </mode>
        <mode id="2" name="AppData" updateDir="app_data/questionsdata">
          <rules>
            <rule func="startsWith" value="app_data\questionsdata" />
          </rules>
        </mode>
        <mode id="3" name="AllExceptConf" updateDir="/">
          <rules>
            <rule inverted="true" func="equals" value="web.config" />
          </rules>
        </mode>
        <mode id="4" name="All" updateDir="/" />
      </modes>
      <neverToUpdate>
        <rule inverted="true" func="equals" value="connectionstrings.config" />
        <rule inverted="true" func="endsWith" value="white.csv" />
        <rule inverted="true" func="endsWith" value="black.csv" />
        <rule inverted="true" func="equals" value="Export" />
        <rule inverted="true" func="equals" value="Exceptions" />
        <rule inverted="true" func="equals" value="bin\spssio32.dll" />
        <rule inverted="true" func="equals" value="bin\system.web.mvc.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icudt38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuin38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuuc38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\spssio64.dll" />
      </neverToUpdate>
    </updateRules>
  </deployer>

  <connectionStrings>
    <add name="master" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=master;User ID=UserName;password=Password"
         providerName="System.Data.SqlClient" />
    <add name="deployer"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DeployService;User ID=UserName;password=Password"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir"
              value="d:\Repos\My\Deployer-Ers\Deployer.Service.Host\bin\Debug\Log\${date:format=yyyy-MM-dd}" />
    <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="detailedLayout"
              value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}" />

    <targets>
      <target name="shortLog" xsi:type="File" fileName="${logDir}/short.log" layout="${commonLayout}" />
      <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="fullLog" />
      <logger name="*" minlevel="Info" writeTo="shortLog" />
    </rules>
  </nlog>
</configuration>