<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deployer"
             type="Deployer.Service.Core.Settings.Section.DeployerConfigurationSection, Deployer.Service.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <httpRuntime executionTimeout="600" maxRequestLength="409600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <services>
      <service name="Deployer.Service.Core.DeployService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="duplexConfig"
                  contract="Deployer.Service.Contract.IDeployService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <serviceCertificate findValue="DeployerCA" storeLocation="LocalMachine" storeName="My"
                                x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="Deployer.Service.Core.Security.UserNameValidator, Deployer.Service.Core" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexConfig" maxReceivedMessageSize="26214400" maxBufferPoolSize="26214400"
                 messageEncoding="Mtom">
          <readerQuotas maxDepth="26214400" maxStringContentLength="26214400" maxArrayLength="26214400"
                        maxBytesPerRead="26214400" maxNameTableCharCount="26214400" />
          <reliableSession inactivityTimeout="00:02:00" />
          <security mode="Message">
            <message negotiateServiceCredential="true" clientCredentialType="UserName" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="Deployer.Service.WebHost.WcfServiceFactory" relativeAddress="./deployer.svc"
             service="Deployer.Service.Core.DeployService" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="10" address="*" />
    </connectionManagement>
  </system.net>
  <deployer>
    <settings>
      <credentials domain="Domain" login="UserName" password="Password"/>
      <iis version="7" appPool="DefaultAppPool" address="main">
        <dirsWithIISAccess>
          <dir name="Export" user="IIS_IUSRS" />
          <dir name="Exceptions" user="IIS_IUSRS" />
        </dirsWithIISAccess>
      </iis>
      <scriptsPaths dbCreate="c:\inetpub\wwwroot\main\DeployService\Scripts\CreateDb.sql"
                    dbValidate="c:\inetpub\wwwroot\main\DeployService\Scripts\ValidateDb.sql"
                    dbDelete="c:\inetpub\wwwroot\main\DeployService\Scripts\DeleteDb.sql" />
      <templates connectionStrings="c:\inetpub\wwwroot\main\DeployService\Scripts\ConnectionStrings.config" />
      <paths surveys="c:\inetpub\wwwroot\main\DeployService\Surveys"
             uploads="c:\inetpub\wwwroot\main\DeployService\Packages"
             backups="c:\inetpub\wwwroot\main\DeployService\Backup">
        <additionalResources bins="c:\inetpub\wwwroot\main\DeployService\Bins" />
      </paths>
    </settings>
    <updateRules>
      <modes>
        <mode id="1" name="Bin" updateDir="bin">
          <rules>
            <rule func="startsWith" value="bin" />
          </rules>
        </mode>
        <mode id="2" name="AppData" updateDir="app_data/questionsdata">
          <rules>
            <rule func="startsWith" value="app_data\questionsdata" />
          </rules>
        </mode>
        <mode id="3" name="AllExceptConf" updateDir="/">
          <rules>
            <rule inverted="true" func="equals" value="web.config" />
          </rules>
        </mode>
        <mode id="4" name="All" updateDir="/" />
      </modes>
      <neverToUpdate>
        <rule inverted="true" func="equals" value="connectionstrings.config" />
        <rule inverted="true" func="endsWith" value="white.csv" />
        <rule inverted="true" func="endsWith" value="black.csv" />
        <rule inverted="true" func="equals" value="Export" />
        <rule inverted="true" func="equals" value="Exceptions" />
        <rule inverted="true" func="equals" value="bin\spssio32.dll" />
        <rule inverted="true" func="equals" value="bin\system.web.mvc.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icudt38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuin38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuuc38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\spssio64.dll" />
      </neverToUpdate>
    </updateRules>
  </deployer>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="c:\inetpub\wwwroot\main\DeployService\Log\${date:format=yyyy-MM-dd}" />
    <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="detailedLayout"
              value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}" />
    <targets>
      <target name="shortLog" xsi:type="File" fileName="${logDir}/short.log" layout="${commonLayout}" />
      <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fullLog" />
      <logger name="*" minlevel="Info" writeTo="shortLog" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="master" connectionString="Data Source=192.168.1.2\SQLEXPRESS,2301;Initial Catalog=master;User ID=user;password=pwd" providerName="System.Data.SqlClient"/>
    <add name="deployer" connectionString="Data Source=192.168.1.2\SQLEXPRESS,2301;Initial Catalog=DeployService;User ID=user;password=pwd" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>