<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="login" value="wurdum"/>
    <add key="password" value="123"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDeployService" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom"
          textEncoding="utf-8" useDefaultWebProxy="true" clientBaseAddress="http://192.168.1.2:84">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:02:00" />
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.14/DeployService/deployer.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDeployService"
        contract="DeployServiceReference.IDeployService" name="WSDualHttpBinding_IDeployService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAxMTA4BrhLCJZkl+dzal4gpxcE7QgAAAAAQAAAP0BAAAwggH5MIIBZqADAgECAhA6M0v/9uz6t01aivMBsS8+MAkGBSsOAwIdBQAwGTEXMBUGA1UEAxMOUm9vdERlcGxveWVyQ0EwHhcNMTIwNjI5MTQxMjQzWhcNMzkxMjMxMjM1OTU5WjAVMRMwEQYDVQQDEwpEZXBsb3llckNBMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDa/2njOx8yQSn05MJPqgLvlOiNcLjjcMN/gN06HSuRzRDmyNL7FZvPtQHF2NfhfxEE3s0mkajBQD7PNxj6GNTY1ZqywEqGCjjPSmx4vCs01wjFpAHz1tSGLfoAzdZaqRvuW9TKGomRwIxlTdXHG+0JXdJxEF6T3qVFWaE44s9CFQIDAQABo04wTDBKBgNVHQEEQzBBgBCL6Mx0Ud+ePschiwmnOFyBoRswGTEXMBUGA1UEAxMOUm9vdERlcGxveWVyQ0GCEKIL3+PXec+WQ7StC+zLDQ0wCQYFKw4DAh0FAAOBgQAqs7U/u9cABSjlzaanmLhrjcahAa1gZpO66VKILSE/b+yMG1f89DzDKO0AkJCI9SxVMPaA1gvUuV4ewIRgO1ZhqkO5Wvik5GlYnVrQ1/qsQS6AJn4+FlT59QkKlbLfvW4ZJmGspa7Z8qufofmn9aRG/CPOThkcoyzsy0BEEdpmHg==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="10" address="*"/>
    </connectionManagement>
  </system.net>
  
</configuration>