<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="login" value="wurdum"/>
    <add key="password" value="123"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDeployService" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" clientBaseAddress="client adress">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:02:00" />
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="service adress"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDeployService"
        contract="DeployServiceReference.IDeployService" name="WSDualHttpBinding_IDeployService">
        <identity>
          <certificate encodedValue="###" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="10" address="*"/>
    </connectionManagement>
  </system.net>
  
</configuration>