<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="Deployer.Service.Core.DeployService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="duplexConfig" contract="Deployer.Service.Contract.IDeployService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/deployer"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsDualHttpBinding>
        <binding name="duplexConfig" maxReceivedMessageSize="10485760" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:02:00"/>
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="10" address="*"/>
    </connectionManagement>
  </system.net>
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="./Log/${date:format=yyyy-MM-dd}" />
    <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}." />
    <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}" />

    <targets>
      <target name="shortLog" xsi:type="File" fileName="${logDir}/short.log" layout="${commonLayout}" />
      <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="fullLog" />
      <logger name="*" minlevel="Info" writeTo="shortLog" />
    </rules>
  </nlog>
</configuration>
