<?xml version="1.0"?>
<connectionStrings>
  <add name="Linq2Sql" 
       connectionString="Data Source=.\sqlexpress;Initial Catalog=<%DbName%>;User ID=wurdum;password=123" 
       providerName="System.Data.SqlClient"/>
  <add name="Exceptions" 
       connectionString="Data Source=.\sqlexpress;Initial Catalog=Exceptions;Integrated Security=True" 
       providerName="System.Data.SqlClient"/>
  <add name="Survey.AspNet" 
       connectionString="Data Source=.\sqlexpress;Initial Catalog=Survey.AspNet;Integrated Security=True" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>