<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="deployer" type="Deployer.Service.Core.Settings.Section.DeployerConfigurationSection, Deployer.Service.Core" />
  </configSections>

  <deployer>
    <settings>
      <credentials domain="Domain" login="UserName" password="Password" />
      <iis
        version="7"
        appPool="DefaultAppPool"
        address="main" />
      <scriptsPaths
        dbCreate="{root}\Scripts\CreateDb.sql"
        dbValidate="{root}\Scripts\ValidateDb.sql"
        dbDelete="{root}\Scripts\DeleteDb.sql" />
      <templates connectionStrings="{root}\Scripts\ConnectionStrings.config" />
      <paths
        surveys="{root}\Surveys"
        uploads="{root}\Resources"
        backups="{root}\Backup">
        <additionalResources bins="{root}\Bins" />
      </paths>
    </settings>
    <updateRules>
      <modes>
        <mode id="1" name="Bin" updateDir="bin">
          <rules>
            <rule func="startsWith"  value="bin" />
          </rules>
        </mode>
        <mode id="2" name="AppData" updateDir="app_data/questionsdata">
          <rules>
            <rule func="startsWith" value="app_data\questionsdata" />
          </rules>
        </mode>
        <mode id="3" name="AllExceptConf" updateDir="/">
          <rules>
            <rule inverted="true" func="equals"  value="web.config" />
          </rules>
        </mode>
        <mode id="4" name="All" updateDir="/"/>
      </modes>
      <neverToUpdate>
        <rule inverted="true" func="equals" value="connectionstrings.config" />
        <rule inverted="true" func="endsWith" value="white.csv" />
        <rule inverted="true" func="endsWith" value="black.csv" />
        <rule inverted="true" func="equals" value="Export" />
        <rule inverted="true" func="equals" value="Exceptions" />
        <rule inverted="true" func="equals" value="bin\spssio32.dll" />
        <rule inverted="true" func="equals" value="bin\system.web.mvc.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icudt38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuin38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\icuuc38.dll" />
        <rule inverted="true" func="equals" value="bin\win64\spssio64.dll" />
      </neverToUpdate>
    </updateRules>
  </deployer>

  <connectionStrings>
    <add name="master" connectionString="Data Source=192.168.1.2\SQLEXPRESS,2301;Initial Catalog=master;User ID=user;password=pwd" providerName="System.Data.SqlClient"/>
    <add name="deployer" connectionString="Data Source=192.168.1.2\SQLEXPRESS,2301;Initial Catalog=DeployService;User ID=user;password=pwd" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>